<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogforum.notebook.dao.mapper.NoteMapper">
    
    <sql id="NoteField">
        n.id id,
        n.note_title	noteTitle,
        n.note_body	noteBody,
        n.md_note_body	mdNoteBody,
        n.create_date	createDate,
        n.update_date	updateDate,
        n.user_id	userId,
        n.note_book_id	noteBookId,
        n.blog_id	blogId,
        n.enclosure	enclosure,
        n.type	type,
        n.del_flag	delFlag,
        n.pwd_share_id	pwdShareId,
        n.extjson	extjson,
        n.label	label,
        n.text_type	textType,
        n.context	context
    </sql>
    
    <!-- 添加笔记 -->
	<insert id="save" parameterType="com.blogforum.notebook.pojo.entity.Note">
		insert into 
		note(
			id,note_title,note_body,md_note_body,create_date,update_date,user_id,note_book_id,
			blog_id,enclosure,type,del_flag,pwd_share_id,extjson,label,text_type,context
		) 
		values (
			#{id},#{noteTitle},#{noteBody},#{mdNoteBody},#{createDate},#{updateDate},#{userId},
			#{noteBookId},#{blogId},#{enclosure},#{type},#{delFlag},#{pwdShareId},#{extjson},#{label},#{textType},#{context}
		)
	</insert>
	
	<!-- 删除笔记 -->
	<delete id="delete">
	    delete from
	    note
	    where id=#{id}
	    
	</delete>
	<!-- 修改笔记 -->
	<update id="update" parameterType="com.blogforum.notebook.pojo.entity.Note">
	    update 
	    note 
	    set note_title = #{noteTitle},note_body = #{noteBody},md_note_body = #{mdNoteBody},create_date = #{createDate},
	    update_date = #{updateDate},user_id = #{userId},note_book_id = #{noteBookId},blog_id = #{blogId},
	    enclosure = #{enclosure},type = #{type},del_flag = #{delFlag},pwd_share_id = #{pwdShareId},
	    extjson = #{extjson},label = #{label},text_type=#{textType},context=#{context}
	    where id=#{id}
	    
	</update>
	
	
	<!-- 通过ID查询笔记 -->
	<select id="getById" resultType="com.blogforum.notebook.pojo.entity.Note" >
	    SELECT 
	    	<include refid="NoteField"/>
	    FROM note n
	    WHERE id=#{id}
	</select>
	
	<select id="queryList" resultType="com.blogforum.notebook.pojo.entity.Note">
	    SELECT 
	    	<include refid="NoteField"/>
	    FROM note n
	    where 
	    del_flag='N'
	    <if test="noteBookId != null and noteBookId != ''">
			AND note_book_id = #{noteBookId}
		</if>
	    order by n.update_date desc
	</select>

</mapper>