<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blogforum.notebook.dao.mapper.NoteMapper">
    
    <sql id="NoteField">
        n.id id,
        n.note_title	noteTitle,
        n.note_body	noteBody,
        n.md_note_body	mdNoteBody,
        n.create_date	createDate,
        n.update_date	updateDate,
        n.user_id	userId,
        n.note_book_id	noteBookId,
        n.blog_id	blogId,
        n.enclosure	enclosure,
        n.type	type,
        n.del_flag	delFlag,
        n.pwd_share_id	pwdShareId,
        n.extjson	extjson,
        n.label	label,
        n.text_type	textType,
        n.context	context,
        n.note_book_name	noteBookName
        <!-- 
        b.id bid,
        b.name bname,
        b.user_id buser_id,
        b.parent_id bparent_id,
        b.create_date bcreate_date,
        b.update_date bupdate_date,
        b.have_node bhave_node
         -->
    </sql>

    <resultMap type="com.blogforum.notebook.pojo.entity.Note" id="noteMap">
        <id property="id" column="id" />
        <result property="noteTitle" column="noteTitle" />
        <result property="noteBody" column="noteBody" />
        <result property="mdNoteBody" column="mdNoteBody" />
        <result property="updateDate" column="updateDate" />
        <result property="userId" column="userId" />
        <result property="noteBookId" column="noteBookId" />
        <result property="blogId" column="blogId" />
        <result property="enclosure" column="enclosure" />
        <result property="delFlag" column="delFlag" />
        <result property="pwdShareId" column="pwdShareId" />
        <result property="extjson" column="extjson" />
        <result property="label" column="label" />
        <result property="textType" column="textType" />
        <result property="context" column="context" />
        <result property="noteBookName" column="noteBookName"/>
        <!--  
        <collection property="noteBooks" ofType="com.blogforum.notebook.pojo.entity.NoteBook">
            <id property="id" column="bid"/>
	        <result property="name" column="bname"/>
	        <result property="userId" column="buser_id"/>
	        <result property="parentId" column="bparent_id"/>
	        <result property="createDate" column="bcreate_date"/>
	        <result property="updateDate" column="bupdate_date"/>
	        <result property="haveNode" column="bhave_node"/>
	    </collection>
	    -->
    </resultMap>

    <sql id="NoteTitle">
        n.id id,
        n.note_title	noteTitle,
        n.update_date	updateDate,
        n.user_id	userId,
        n.textType	textType,
        n.context	context,
        n.note_book_name	noteBookName
    </sql>
    <resultMap type="com.blogforum.notebook.pojo.entity.Note" id="noteTitleMap">
        <id property="id" column="id" />
        <result property="noteTitle" column="noteTitle" />
        <result property="updateDate" column="updateDate" />
        <result property="userId" column="userId" />
        <result property="textType" column="textType" />
        <result property="context" column="context" />
        <result property="noteBookName" column="noteBookName"/>
    </resultMap>

        
    <!-- 添加笔记 -->
	<insert id="save" parameterType="com.blogforum.notebook.pojo.entity.Note">
		insert into 
		note(
			id,note_title,note_body,md_note_body,create_date,update_date,user_id,note_book_id,
			blog_id,enclosure,type,del_flag,pwd_share_id,extjson,label,text_type,context,note_book_name
		) 
		values (
			#{id},#{noteTitle},#{noteBody},#{mdNoteBody},#{createDate},#{updateDate},#{userId},
			#{noteBookId},#{blogId},#{enclosure},#{type},#{delFlag},#{pwdShareId},#{extjson},#{label},#{textType},#{context},#{noteBookName}
		)
	</insert>
	
	<!-- 删除笔记 -->
	<delete id="delete">
	    delete from
	    note
	    where id=#{id}
	    
	</delete>
	<!-- 修改笔记 -->
	<update id="update" parameterType="com.blogforum.notebook.pojo.entity.Note">
	    update 
	    note 
	    set note_title = #{noteTitle},note_body = #{noteBody},md_note_body = #{mdNoteBody},create_date = #{createDate},
	    update_date = #{updateDate},user_id = #{userId},note_book_id = #{noteBookId},blog_id = #{blogId},
	    enclosure = #{enclosure},type = #{type},del_flag = #{delFlag},pwd_share_id = #{pwdShareId},
	    extjson = #{extjson},label = #{label},text_type=#{textType},context=#{context},note_book_name=#{noteBookName}
	    where id=#{id}
	    
	</update>
	
	
	<!-- 通过ID查询笔记 -->
	<select id="getById" resultType="com.blogforum.notebook.pojo.entity.Note" >
	    SELECT 
	    	<include refid="NoteField"/>
	    FROM 
	    	note n
	    WHERE 
	    	id=#{id} and del_flag='N'
	    	
	    
	</select>
	
	<select id="queryList" resultMap="noteMap" >
	    SELECT 
	    	<include refid="NoteField"/>
	    FROM note n
	    where 
	    del_flag='N'
	    <if test="noteBookId != null and noteBookId != ''">
			AND note_book_id = #{noteBookId}
		</if>
	    <if test="userId != null and userId != ''">
			AND user_id = #{userId}
		</if>
	    order by n.update_date desc
	</select>
	
	<select id="countByNoteBookId" resultType="java.lang.Integer">
	    select
	    	count(1) noteCount
	    FROM 
	    	note n
	    where
		    del_flag='N'
				AND note_book_id = #{noteBookId}
	    	
	</select>
	
	<select id="queryNoteTitleList" resultMap="noteTitleMap">
	    SELECT
		    <include refid="NoteTitle"/>
	    FROM note n
	    where 
	    del_flag='N'
	    <if test="noteBookId != null and noteBookId != ''">
			AND note_book_id = #{noteBookId}
		</if>
	    <if test="userId != null and userId != ''">
			AND user_id = #{userId}
		</if>
	    order by n.update_date desc
	</select>
	

</mapper>