<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>博记笔记</title>
    <!--bootstrap-->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- Simplify -->
	<link href="css/simplify.css" rel="stylesheet">
	
	<!-- Font Awesome -->
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<!-- ionicons -->
<link href="https://cdn.bootcss.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
</head>
<body class="overflow-hidden">
	<div class="wrapper preload">
		<!--头部-->
		<header class="top-nav">
			<div class="top-nav-inner">
				<div class="nav-header">
					<a href="/" class="brand">
						<i class="fa fa-database"></i><span class="brand-name">博记笔记</span>
					</a>
				</div><!--nav-header-->
				<div class="nav-container">
					<button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleLG">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<ul class="nav-notification">	
						<li class="search-list">
							<div class="search-input-wrapper">
								<div class="search-input">
									<input type="text" class="form-control input-sm inline-block" placeholder="搜索笔记">
									<a href="#" class="input-icon text-normal"><i class="ion-ios7-search-strong"></i></a>
								</div>
							</div>
						</li>
					</ul>
					<button type="button" class="btn btn-info" data-toggle="tooltip" style="margin-left:1%;margin-top:0.5%">新建普通笔记</button>
					<button type="button" class="btn btn-info" data-toggle="tooltip" style="margin-left:1%;margin-top:0.5%">新建markdown笔记</button>
				</div><!--nav-container-->
			</div><!--top-nav-inner-->
		</header>
		<!--下面内容主体-->
		<div id="boxBody" style="width:100%;height:100%">
			<!--左侧菜单栏-->
			<aside class="sidebar-menu fixed" id="noteLeft" >
				<div class="sidebar-inner scrollable-sidebar" >
					<div class="main-menu">
						<ul class="accordion">
							<li class="openable bg-palette3 open">
								<a href="#">
									<span class="menu-content block">
										<span class="menu-icon"><i class="glyphicon glyphicon-book"></i></span>
										<span class="text m-left-sm">笔记本</span>
										<span class="submenu-icon"></span>
									</span>
									
								</a>
								
								<ul class="submenu bg-palette4">
									<li><input type="text" class="form-control" id="noteBookSearch" placeholder="搜索笔记本" / ></li>
									<div class="tree-view-menu-list font-16">
										<ul class="font-15">
											#foreach($noteBook in $noteBooks)
											<li class="openable">
												<a href="#" value=$noteBook.id>
													#if($noteBook.isNode)
													<i onclick="getNoteBooks(this)" class="glyphicon glyphicon-chevron-right m-right-xs folder-icon"></i>
													#else
													<i class="glyphicon glyphicon-chevron-right m-right-xs folder-icon" style="color:#37485e"></i>
													#end
													$noteBook.name</a>
												<ul class="subtree"></ul>
											</li>
											#end
										</ul><!--font-16-->
									</div><!--tree-view-menu-list font-16-->
								</ul>
							</li><!--openable bg-palette3-->
						</ul><!--accordion-->
					</div><!--main-menu-->
				</div><!--sidebar-inner scrollable-sidebar-->
			</aside><!--sidebar-menu fixed-->
			<div class="noteBookSplit" id="noteBookSplit" style="left: 240px; background: none;"></div>
			<div id="noteRight" style="padding-left:240px;height:100%">
				<div class="noteInfoList" style="float:left;width:278px;height:100%">
					<div class="smart-widget">
						<div class="ibox-title">
							<span class="badge badge-danger pull-right">10</span>
							最新笔记
						</div>
					</div>
					<div class="noteInfoListItem">
						<div class="node-body">
							<ul class="node-body-ul">
								#foreach($note in $notes)
								<li class="node-body-ul-li">
									<div class="item-desc">
										<p class="item-title">
										#if($note.noteTitle)
										$note.noteTitle
										#end
										</p>
										<p class="item-info">
										<i class="fa fa-book"></i> 
										<span class="note-notebook">
										#if($note.noteTitle)
										$note.noteTitle
										#end
										</span>
										<i class="fa fa-clock-o"></i> 
										<span class="updated-time">$date.format('yyyy-MM-dd HH:mm:ss ',$note.updateDate)</span>
										</p><p class="desc">
										#if($note.noteBody)
										$note.noteBody
										#end
										</p>
									</div>
								</li>
								#end
							</ul>
						</div>
					</div>
				</div>
				<div style="height:100%">
					bbb
				</div>
			</div><!--noteRight-->
			
		</div><!--boxBody-->

	</div><!--wrapper-->



	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
	<!-- Simplify -->
	<script src="js/simplify/simplify.js"></script>
	<script>
	//左侧获取笔记本方法
		function getNoteBooks(clicki){
			var clickObject = $(clicki);
			var parentElm = clickObject.parent().parent();
			var parentClickObjeck = clickObject.parent();
			console.info(parentClickObjeck.attr("value"));
			if(clickObject.hasClass("glyphicon-chevron-right")){
				$.get("/note/getNoteBooks",function(data){
					var html="";
					jQuery.each(data.data,function(i,item){
						var lis="<li class='openable'><a href='#'><i onclick='getNoteBooks(this)' class='glyphicon glyphicon-chevron-right m-right-xs folder-icon'></i>"
						lis += item.name + "</a><ul class='subtree'></ul></li>"
						html += lis;
					});
					parentClickObjeck.next().html(html);
				});
				clickObject.removeClass("glyphicon-chevron-right");
				clickObject.addClass("glyphicon-chevron-down");
				parentElm.children('.subtree').show();
			}else{
				clickObject.removeClass("glyphicon-chevron-down");
				clickObject.addClass("glyphicon-chevron-right");
				parentElm.children('.subtree').hide();
			}
			return false;
		}
		
	</script>

</body>
</html>