<!DOCTYPE html>
<html>
<head>
</head>
<body class="overflow-hidden">
	<div style="height:100%;width:100%;padding-top:20%;padding-left:30%">
		<div style="margin-left:30px;margin-bottom:30px">
			<h3><small>当前笔记本没有笔记 可以选择新建。。。</small></h3>
		</div>
		<div class="btn btn-default simplenote1" style="float:left;margin-right:30px">
			新建普通笔记
		</div>
		<div class="btn btn-default markdownnote1">
			新建markdown笔记
		</div>
	</div>
	
<script type="text/javascript"> 

	$(".simplenote1").click(function(){
		$(".noteRightInfo").load("simplenote");
	});
	$(".markdownnote1").click(function(){
		$(".noteRightInfo").load("markdownnote");
	});

</script> 
		

</body>
</html>