<!DOCTYPE html>
<html>
<head>
</head>
<body class="overflow-hidden">
	<div style="height:100%;width:100%;padding-top:20%;padding-left:30%">
		<div style="margin-left:30px;margin-bottom:30px">
			<h3><small>当前笔记本没有笔记 可以选择新建。。。</small></h3>
		</div>
		<div class="btn btn-default simplenote1" style="float:left;margin-right:30px">
			新建普通笔记
		</div>
		<div class="btn btn-default markdownnote1">
			新建markdown笔记
		</div>
	</div>
	
<script type="text/javascript"> 

	$(".simplenote1").click(function(){
		//获取当前选中的笔记本id和name
		var selectedBookId = $("#selectedBook").attr("value");
		var bookName = $("#selectedBook").attr("name");
		var noteId = addNote(selectedBookId,bookName);
		if(noteId != "0"){
			$(".noteRightInfo").load("simplenote",{noteBookName:bookName,noteBookId:selectedBookId,noteId:noteId});
		}
	});
	$(".markdownnote1").click(function(){
		var selectedBookId = $("#selectedBook").attr("value");
		var bookName = $("#selectedBook").attr("name");
		
		var noteId = addNote(selectedBookId,bookName);
		if(noteId != "0"){
			$(".noteRightInfo").load("markdownnote",{noteBookName:bookName,noteBookId:selectedBookId,noteId:noteId});
		}
	});
	//添加笔记
	function addNote(noteBookId,noteBookName){
		 var noteId = "0";
		 $.ajax({  
	         type : "post",  
	          url : "/note/addNote",  
	          data : {noteBookId:noteBookId,label:noteBookName},  
	          async : false,  
	          success : function(data){  
					if(data.status != "200") {
						layer.msg(data.msg);
					}else{
						noteId = data.data.id;
					}
	          }  
	     }); 
		 return noteId;
	}
</script> 
		

</body>
</html>